{% extends "base.html" %}

{% block content %}

<div class="container">

<h2>{{ event.title }}</h2>

<h3>This event was added by: {{ event.host.username }}</h3>


<ul>
    <li><p>Location: {{ event.location }}</p></li>
    <li><p>Venue: {{ event.venue }}</p></li>
    <li><p>Date: {{ event.start_date }} - {{ event.end_date }}</p></li>
    <li><p>Time: {{ event.start_time }} - {{ event.end_time }}</p></li>
    <li><p>Best suited for: {% for event in event.categories.all %}</p></li>
    <p>{{ event.name }}</p>
    {% endfor %}
</ul>

</div>


{% endblock %}