{% load static %}

<!doctype html>

<p><a href="{% url 'register' %}">register</a></p>
{% if user.is_authenticated %}
    <p>Hi {{ user.username }}</p>
    <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
    <p><a href="{% url 'login' %}">login</a></p>
{% endif %}


<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>EventFinda</title>
        <meta name="description" content="">
        <meta name="author" content="Francesca Kavanagh">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static './style.css' %}">
    </head>

    <body>
        <header>
            <div>
                <h1>EventFinda</h1>
                <h2>Find free events near you!</h2>
            </div>
            {% include './nav.html' %}
        </header>

        {% block content %}{% endblock %}
    </body>
</html>