<nav class="navbar navbar-expand-lg navbar-light">
    <div class="navbar-brand" href="#">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
             </button>
             <div class="navbar-collapse collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                    <a class="nav-link" href="{% url 'eventFinderApp:index' %}">Home<span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'eventFinderApp:account' %}">My account</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
    </ul>
 </div>
 </div>
 </nav>